// $global-radius: 3px

// .nodis
// 	display: none
// 	&_force
// 			display: none !important

// .padded
// 	padding: 20px 0

// .noflow
// 	overflow: hidden

// .inflow
// 	@extend .noflow
// 	overflow-y: auto

// .main-color
// 	color: $main-color

// .white-color
// 	color: #fff

// .positive
// 	color: $green-color

// .negative
// 	color: $red-color

// .nicescroll-rails
// 	opacity: 0

// @media screen and (max-width: 1023px)
// 	.notablet
// 		display: none !important

// @media screen and (min-width: 768px)
// 	.mobileonly
// 		display: none !important
// @media screen and (max-width: 767px)
// 	.nomobile
// 		display: none !important

.block
  position: relative
  background-color: #fff
  padding: 24px
  margin-bottom: 24px
  border-radius: 12px
  box-shadow: 0 0 0 1px rgba($nl400,.08), 0 1px 3px rgba(black,.08)

// .grid
//   display: inline-grid
//   grid-template-columns: auto auto auto auto auto auto
//   &.m
//     gap: 8px

.group
  &.s > *:not(:last-child)
    margin-right: 4px
  &.m > *:not(:last-child)
    margin-right: 8px
  &.l > *:not(:last-child)
    margin-right: 12px
  &.xl > *:not(:last-child)
    margin-right: 16px
  &.xx > *:not(:last-child)
    margin-right: 24px