meta(name="description", content=DESC)
meta(name="author", content="Juskteez (Phong) Vu")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(property="og:title", content=UNAME)
meta(property="og:type", content="Documentation")
meta(property="og:url", content="https://juskteez.github.io/shopbase/spds")
meta(property="og:description", content=DESC)
//- meta(property="og:image", content="image.png")