header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header.header .container-fluid {
  padding: 0;
}

header.header .main-nav-wrapper > .flex > * {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: auto;
}

header.header .main-nav-wrapper > .flex .nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: none;
}

header.header.nav-fixed--true, header.header-mobile.mobile-nav-fixed--true {
  position: relative;
  padding-top: 56px;
  border-bottom: none;
}

header.header.nav-fixed--true .header-wrap, header.header-mobile.mobile-nav-fixed--true .header-wrap {
  background-color: transparent;
}

header.header.nav-fixed--true .container-fluid, header.header-mobile.mobile-nav-fixed--true .container-fluid {
  position: fixed;
  top: 0;
  background-color: white;
}

header.header.nav-fixed--true + .d-block.pagecontent, header.header-mobile.mobile-nav-fixed--true + .d-block.pagecontent {
  display: none;
}

header.header.nav-fixed--true .promo_banner, header.header-mobile.mobile-nav-fixed--true .promo_banner {
  height: auto !important;
  display: block !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  padding: 4px 0 !important;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

header.header .logo .logo-text,
header.header-mobile .logo .logo-text {
  font-family: Garamond, serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px !important;
}

@media screen and (max-width: 767px) {
  header.header .logo .logo-text,
  header.header-mobile .logo .logo-text {
    font-size: 18px !important;
  }
}

.site-nav .site-nav__item {
  text-transform: uppercase;
  font-family: Garamond, serif;
}

.site-nav .site-nav__link {
  color: rgba(0, 0, 0, 0.48);
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
}

.scroll-to-top {
  right: 32px;
  bottom: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  background: rgba(255, 255, 255, 0.32);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1024px) {
  .scroll-to-top {
    right: 8px;
    bottom: 12px;
  }
}

.scroll-to-top path {
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  fill: rgba(0, 0, 0, 0.24);
}

button.btn,
a.btn {
  font-family: Garamond, serif;
  letter-spacing: 1.25px;
}

.col-lg, .col-lg-auto, .col-lg-one-fifth, .col-lg-one-seventh, .col-lg-one-eighth, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col, .col-auto, .col-one-fifth, .col-one-seventh, .col-one-eighth, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.main-content section[class="section"] {
  display: none;
}

.main-content section.section:first-child {
  margin-top: 16px;
}

@media only screen and (max-width: 1024px) {
  .main-content section.featured-collection .col-12,
  .main-content .collection-detail .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.main-content section.section .featured-collection--heading {
  margin-bottom: 16px;
}

.main-content section.section h2.h4 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

@media only screen and (min-width: 1024px) {
  .main-content section.section h2.h4 {
    font-size: 6.75rem;
  }
}

.collection-product-wrap .collection-detail__product-image {
  margin-bottom: 8px;
}

.collection-product-wrap .collection-detail__product-details .title {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.48);
}

.collection-product-wrap .collection-detail__product-details .price {
  margin-top: 0;
}

.collection-product-wrap .collection-image-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.collection-product-wrap .collection-image-container:before {
  background-color: transparent;
  opacity: 1;
  display: block;
  visibility: visible;
  bottom: auto;
  padding-top: 125%;
  position: relative;
}

.collection-product-wrap.collection-product-wrap--add-cart {
  margin-bottom: 32px;
}

.collection-product-wrap.collection-product-wrap--add-cart:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collection-product-wrap.collection-product-wrap--add-cart:hover:after {
  display: none;
}

.collection-product-wrap.collection-product-wrap--add-cart .btn.btn-primary {
  padding: 0;
  line-height: 40px;
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  overflow: visible;
  border: none;
  width: calc(100% - 64px);
  margin: 8px auto;
  display: block;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.24);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.newsletter-section .newsletter-section__wrap.relative {
  position: unset;
}

.newsletter-section .newsletter-shadow {
  position: absolute;
  padding-bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsletter-section .newsletter-wrap {
  position: relative;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  top: unset;
  left: unset;
  right: unset;
}

/*# sourceMappingURL=jstore-1.css.map */