header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header.header .container-fluid {
  padding: 0 8px;
}

header.header .main-nav-wrapper > .flex > * {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: auto;
}

header.header .main-nav-wrapper > .flex .nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: none;
}

header.header.nav-fixed--true, header.header-mobile.mobile-nav-fixed--true {
  position: relative;
  padding-top: 40px;
  border-bottom: none;
}

@media only screen and (min-width: 1200px) {
  header.header.nav-fixed--true, header.header-mobile.mobile-nav-fixed--true {
    padding-top: 56px;
  }
}

header.header.nav-fixed--true .header-wrap, header.header-mobile.mobile-nav-fixed--true .header-wrap {
  background-color: transparent;
}

header.header.nav-fixed--true .container-fluid, header.header-mobile.mobile-nav-fixed--true .container-fluid {
  position: fixed;
  top: 0;
  background-color: white;
}

header.header.nav-fixed--true + .d-block.pagecontent, header.header-mobile.mobile-nav-fixed--true + .d-block.pagecontent {
  display: none;
}

header.header.nav-fixed--true .promo_banner, header.header-mobile.mobile-nav-fixed--true .promo_banner {
  height: auto !important;
  display: block !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
  padding: 4px 0 !important;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

header.header .logo .logo-text,
header.header-mobile .logo .logo-text {
  font-family: Garamond, serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 32px;
}

@media screen and (max-width: 767px) {
  header.header .logo .logo-text,
  header.header-mobile .logo .logo-text {
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.8);
  }
}

header.header-mobile .header-wrap {
  padding: 0;
}

header.header-mobile .header-wrap .logo {
  margin-left: 0;
  max-width: none;
}

header.header-mobile .header-wrap .logo > a.flex {
  display: inline-block;
  padding-right: 8px;
}

header.header-mobile .header-wrap .search-icon, header.header-mobile .header-wrap .login-icon, header.header-mobile .header-wrap .cart-container {
  width: 36px;
}

header.header-mobile .header-wrap .search-icon:hover, header.header-mobile .header-wrap .login-icon:hover, header.header-mobile .header-wrap .cart-container:hover {
  text-decoration: unset;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  color: initial;
}

header.header-mobile .header-wrap .search-icon .carticon-label, header.header-mobile .header-wrap .login-icon .carticon-label, header.header-mobile .header-wrap .cart-container .carticon-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header.header-mobile .header-wrap .search-icon svg, header.header-mobile .header-wrap .login-icon svg, header.header-mobile .header-wrap .cart-container svg {
  display: none;
}

header.header-mobile .header-wrap .search-icon .svg-container, header.header-mobile .header-wrap .login-icon .svg-container, header.header-mobile .header-wrap .cart-container .svg-container {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header.header-mobile .header-wrap .search-icon.search-icon .svg-container, header.header-mobile .header-wrap .login-icon.search-icon .svg-container, header.header-mobile .header-wrap .cart-container.search-icon .svg-container {
  background-image: url("jstore-1/icons/header-search.svg");
}

header.header-mobile .header-wrap .search-icon.login-icon .svg-container, header.header-mobile .header-wrap .login-icon.login-icon .svg-container, header.header-mobile .header-wrap .cart-container.login-icon .svg-container {
  background-image: url("jstore-1/icons/header-account.svg");
}

header.header-mobile .header-wrap .search-icon.cart-container .svg-container, header.header-mobile .header-wrap .login-icon.cart-container .svg-container, header.header-mobile .header-wrap .cart-container.cart-container .svg-container {
  background-image: url("jstore-1/icons/header-cart.svg");
}

header.header-mobile .header-wrap .mobile-nav {
  width: 32px;
}

header.header-mobile .header-wrap .mobile-nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 4px;
}

header.header-mobile .header-wrap .mobile-nav div {
  width: 12px;
  height: 12px;
}

header.header-mobile .header-wrap .mobile-nav span.d-block {
  height: 1px;
  top: auto;
  -webkit-transform: translate(0, 0) rotateY(0deg);
  transform: translate(0, 0) rotateY(0deg);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

header.header-mobile .header-wrap .mobile-nav span.d-block:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(0deg);
  -ms-transform: translate(0, -50%) rotate(0deg);
  transform: translate(0, -50%) rotate(0deg);
}

header.header-mobile .header-wrap .mobile-nav span.d-block:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(90deg) rotateY(90deg);
  transform: translate(0, -50%) rotate(90deg) rotateY(90deg);
}

header.header-mobile .header-wrap .mobile-nav span.d-block:last-child {
  bottom: 0;
}

.is-noscroll .header-mobile .header-wrap .mobile-nav span.d-block {
  -webkit-transform: translate(0, 0) rotateY(90deg);
  transform: translate(0, 0) rotateY(90deg);
}

.is-noscroll .header-mobile .header-wrap .mobile-nav span.d-block:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(135deg);
  -ms-transform: translate(0, -50%) rotate(135deg);
  transform: translate(0, -50%) rotate(135deg);
}

.is-noscroll .header-mobile .header-wrap .mobile-nav span.d-block:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(225deg) rotateY(0deg);
  transform: translate(0, -50%) rotate(225deg) rotateY(0deg);
}

.site-nav .site-nav__item {
  text-transform: uppercase;
  font-family: Garamond, serif;
}

.site-nav .site-nav__link {
  color: rgba(0, 0, 0, 0.48);
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
}

.header-mobile .mobile-menu .popover-left__overlay {
  display: none;
}

.header-mobile .mobile-menu .popover-left__content {
  width: 100%;
  top: 40px;
}

.header-mobile .mobile-menu .mobile-nav-menu__header {
  display: none;
}

.header-mobile .mobile-menu .mobile-nav-menu__item {
  padding: 0;
}

.header-mobile .mobile-menu .mobile-nav-menu__item a {
  font-family: Garamond, serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 8px 32px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 9px;
  position: relative;
  overflow: hidden;
}

.header-mobile .mobile-menu .mobile-nav-menu__item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-linear-gradient(274deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 32%);
  background: -o-linear-gradient(274deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 32%);
  background: linear-gradient(176deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 32%);
}

.header-mobile .mobile-menu .mobile-nav-menu__item a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #eee;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.075)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.075) 0%, rgba(0, 0, 0, 0) 100%);
}

.scroll-to-top {
  right: 32px;
  bottom: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  background: rgba(255, 255, 255, 0.32);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 1024px) {
  .scroll-to-top {
    right: 8px;
    bottom: 12px;
  }
}

.scroll-to-top path {
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  fill: rgba(0, 0, 0, 0.24);
}

.footer-section {
  text-align: center;
}

.footer-section .h5.site-footer__header,
.footer-section .footer-copyright {
  text-transform: uppercase;
  font-family: Garamond, serif;
  color: rgba(0, 0, 0, 0.48);
  font-size: 12px;
}

.footer-section .site-footer__body {
  padding-top: 0;
}

.footer-section .site-footer__body li.footer_link {
  display: inline-block;
  margin: 0 6px;
}

.footer-section footer > .container-fluid > .row:first-child .hidden-xs {
  display: block !important;
}

.footer-section .footer-section__second {
  text-align: center;
}

.footer-section a[href="/policies/ip"].is-uppercase {
  text-transform: none;
}

.footer-section .site-footer__information > * {
  margin-bottom: 0;
}

.currency-language_action {
  padding: 4px 5px;
  color: rgba(0, 0, 0, 0.48);
}

.currency-language_action .svg-container {
  margin-right: 0;
}

.currency-language_action svg {
  width: 12px;
  height: 12px;
}

.currency-language_action svg path {
  fill: rgba(0, 0, 0, 0.24);
}

button.btn,
a.btn {
  font-family: Garamond, serif;
  letter-spacing: 1.25px;
  font-size: 1.25rem;
}

.container, .container-fluid, .col-lg, .col-lg-auto, .col-lg-one-fifth, .col-lg-one-seventh, .col-lg-one-eighth, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col, .col-auto, .col-one-fifth, .col-one-seventh, .col-one-eighth, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.main-content section[class="section"] {
  display: none;
}

.main-content section.section:first-child {
  margin-top: 16px;
}

@media only screen and (max-width: 1024px) {
  .main-content section.featured-collection .col-12,
  .main-content .collection-detail .col-12 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.main-content section.section .featured-collection--heading {
  margin-bottom: 16px;
}

.main-content section.section h2.h4 {
  margin-bottom: 0;
  font-size: 2.25rem;
}

@media only screen and (min-width: 1024px) {
  .main-content section.section h2.h4 {
    font-size: 6.75rem;
  }
}

.main-content section.section h2.h4 + [class*="sub-heading"] {
  margin-top: 8px;
}

.collection-product-wrap .collection-detail__product-image {
  margin-bottom: 8px;
}

.collection-product-wrap .collection-detail__product-details .title {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.48);
}

.collection-product-wrap .collection-detail__product-details .price {
  margin-top: 0;
}

.collection-product-wrap .collection-image-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.collection-product-wrap .collection-image-container:before {
  background-color: transparent;
  opacity: 1;
  display: block;
  visibility: visible;
  bottom: auto;
  padding-top: 125%;
  position: relative;
}

.collection-product-wrap.collection-product-wrap--add-cart {
  margin-bottom: 0;
}

.collection-product-wrap.collection-product-wrap--add-cart:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collection-product-wrap.collection-product-wrap--add-cart:hover:after {
  display: none;
}

.collection-product-wrap.collection-product-wrap--add-cart .btn.btn-primary {
  padding: 0;
  line-height: 40px;
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
  overflow: visible;
  border: none;
  width: calc(100% - 64px);
  margin: 0 auto;
  margin-top: 8px;
  display: block;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.24);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

.featured-collection__grid > .col-wrap:not(:last-child) {
  padding-bottom: 32px;
}

.featured-collection-button {
  margin-bottom: 0;
}

.featured-collection-button .btn.view-more {
  width: calc(100vw - 64px);
}

.index-sections .newsletter-section {
  padding-bottom: 8px;
}

.newsletter-section .newsletter-section__wrap.relative {
  position: unset;
}

.newsletter-section .newsletter-shadow {
  position: absolute;
  padding-bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsletter-section .newsletter-wrap {
  position: relative;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  top: unset;
  left: unset;
  right: unset;
}

.section.image-with-text {
  padding: 0;
  padding-bottom: 48px;
}

.image-with-text .feature-set-content-wrap,
.feature-set-content-wrap {
  max-width: calc(100vw - 96px);
  margin: 0 auto;
}

.image-with-text .feature-set-content-wrap:not(:last-child),
.feature-set-content-wrap:not(:last-child) {
  margin-bottom: 8px;
}

.image-with-text .feature-set-content-wrap .feature-image::before,
.feature-set-content-wrap .feature-image::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 150%;
  background-color: rgba(32, 32, 32, 0.5);
  -webkit-backdrop-filter: blur(8px) saturate(150%);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(56%, transparent), color-stop(96%, black));
  -webkit-mask-image: -webkit-linear-gradient(top, transparent 56%, black 96%);
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(56%, transparent), color-stop(96%, black));
  mask-image: linear-gradient(to bottom, transparent 56%, black 96%);
  position: relative;
  z-index: 1;
}

.image-with-text .feature-set-content-wrap .feature-image img,
.feature-set-content-wrap .feature-image img {
  vertical-align: top;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.image-with-text .feature-set-content-wrap .feature-image:hover img,
.feature-set-content-wrap .feature-image:hover img {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.image-with-text .feature-set-content-wrap .feature-content,
.feature-set-content-wrap .feature-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px;
  z-index: 1;
}

.image-with-text .feature-set-content-wrap .feature-content .title,
.feature-set-content-wrap .feature-content .title {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  line-height: 1.425rem;
  margin-bottom: 2px;
}

.image-with-text .feature-set-content-wrap .feature-content .desc,
.feature-set-content-wrap .feature-content .desc {
  margin-bottom: 0;
  color: white;
}

.image-with-text .feature-set-content-wrap .feature-content .desc p:last-child,
.feature-set-content-wrap .feature-content .desc p:last-child {
  margin-bottom: 0;
}

.image-with-text .feature-set-content-wrap .feature-content > *:last-child,
.feature-set-content-wrap .feature-content > *:last-child {
  margin-bottom: 0;
}

.image-with-text .feature-set-content-wrap .feature-content .btn,
.feature-set-content-wrap .feature-content .btn {
  margin-top: 12px;
  padding: 8px 12px;
}

.image-with-text .feature-set-content-wrap .feature-content a:not(.btn),
.feature-set-content-wrap .feature-content a:not(.btn) {
  text-transform: uppercase;
  color: transparent;
  font-size: 0.01px;
  letter-spacing: 1.25px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  height: calc((100vw - 96px) * 1.5);
  background-color: transparent;
}

/*# sourceMappingURL=jstore-1.css.map */