$typeA: Garamond, serif
$typeB: Aleo, serif

$b1: black
$b2: rgba($b1, .80)
$b3: rgba($b1, .64)
$b4: rgba($b1, .48)
$b5: rgba($b1, .24)
$b6: rgba($b1, .08)

@import jstore-1/header
@import jstore-1/footer
@import jstore-1/button
@import jstore-1/main-content
@import jstore-1/newsletter
@import jstore-1/feature-image