$typeA: 'EB Garamond', serif
$typeB: Merriweather, serif

$b1: black
$b2: rgba($b1, .80)
$b3: rgba($b1, .64)
$b4: rgba($b1, .48)
$b5: rgba($b1, .24)
$b6: rgba($b1, .16)
$b7: rgba($b1, .08)
$n0: white
$n1: #e7e7e7
$n2: #b4b4b4
$n3: #999
$n4: #777
$n5: #4b4b4b
$n6: #333
$n7: #191919
$safe1: #0082E5
$safe2: #3FB5FF
$posi1: #009e23
$red: purple
$promo_banner: black

$bp-mb: 0
$bp-tb: 720px
$bp-hd: 1200px

@import jstore-1/__reset
@import jstore-1/keyframes
@import jstore-1/header
@import jstore-1/footer
@import jstore-1/button
@import jstore-1/main-content
@import jstore-1/cartdrawer
@import jstore-1/search
@import jstore-1/product
@import jstore-1/newsletter
@import jstore-1/feature-image
@import jstore-1/reviews
@import jstore-1/checkout
@import jstore-1/thankyou

// @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&display=swap')