- const PAGE = "Buttons"
include includes/base
  include documentation/header
  include documentation/main
    section.container
      .row
        .col.col-12
          .block
            h2.h5.doc-page-subtitle Core components / Actions
            h1.h1.doc-page-title=PAGE
            p.doc-desc Tại Shopbase, chúng tôi xây dựng một trải nghiệm tuyệt vời để phục vụ merchants bắt đầu, vận hành, và mở rộng doanh nghiệp của họ. Những giá trị cốt lõi sau của ShopBase Product Design System luôn được chúng tôi lấy làm tiền đề khi xây dựng ShopBase.
          .block
            +button() Hello

  include documentation/footer