- const PAGE = "Buttons"
include includes/base
  include documentation/header
  include documentation/main
    section.container
      .row
        .col.col-12
          .block
            h2.h5.doc-page-subtitle Core components / Actions
            h1.h1.doc-page-title=PAGE
            p.doc-desc Tại Shopbase, chúng tôi xây dựng một trải nghiệm tuyệt vời để phục vụ merchants bắt đầu, vận hành, và mở rộng doanh nghiệp của họ. Những giá trị cốt lõi sau của ShopBase Product Design System luôn được chúng tôi lấy làm tiền đề khi xây dựng ShopBase.
          .block
            h3.h3 Regular buttons
            +button.primary Primary button
            +button.secondary Secondary button
            +button Neutral button
            +button.subtle Subtle button
            +button(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button(icon="settings") Settings
          .block
            h3.h3 Small buttons
            +button.sml.primary Primary button
            +button.sml.secondary Secondary button
            +button.sml Neutral button
            +button.sml.subtle Subtle button
            +button.sml(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button.sml(icon="settings") Settings
          .block
            h3.h3 Emphasis buttons
            +button.emp.primary Primary button
            +button.emp.secondary Secondary button
            +button.emp Neutral button
            +button.emp.subtle Subtle button
            +button.emp(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button.emp(icon="settings") Settings
          .block
            h3.h3 Regular buttons
            +button.primary Primary button
            +button.secondary Secondary button
            +button Neutral button
            +button.subtle Subtle button
            +button(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button(icon="settings") Settings
          .block
            h3.h3 Small buttons
            +button.sml.primary Primary button
            +button.sml.secondary Secondary button
            +button.sml Neutral button
            +button.sml.subtle Subtle button
            +button.sml(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button.sml(icon="settings") Settings
          .block
            h3.h3 Emphasis buttons
            +button.emp.primary Primary button
            +button.emp.secondary Secondary button
            +button.emp Neutral button
            +button.emp.subtle Subtle button
            +button.emp(url="http://localhost:7879/juskteez.github.io/shopbase/spds/form-text_field.html").danger Danger button
            +button.emp(icon="settings") Settings

  include documentation/footer