- const PAGE = "Principles"
include includes/base
  include documentation/header
  include documentation/main
    section.container
      .row
        .col.col-12
          .block
            h2.h5.doc-page-subtitle Overview
            h1.h1.doc-page-title=PAGE
            p.doc-desc Tại Shopbase, chúng tôi xây dựng một trải nghiệm tuyệt vời để phục vụ merchants bắt đầu, vận hành, và mở rộng doanh nghiệp của họ. Những giá trị cốt lõi sau của ShopBase Product Design System luôn được chúng tôi lấy làm tiền đề khi xây dựng ShopBase.
            h3.h4 Consistency
            ul
              li Understand the niche audience base to build the right design.
              li Every Device, Every Language in Every Country.
              li Natural and meaningful experience: Intuitive, Recognizable, Common knowledge, Comfortable.
              li Apply the same solution to the same problem.
            h3.h4 Efficiency
            ul
              li Help merchants complete their tasks and achieve their goals easily.
              li Reduce merchants' workload with automation and bulk actions.
              li Merchants see only what is important yet have access to others if needed.
              li Focus on efficiency rather than decoration.
              li Start with the problem: Technical limitations, Stress cases, Existing patterns, Merchant workflows.
            h3.h4 Trust
            ul
              li Be a companion with merchants.
              li Be transparent about what a feature or tool can do and what it can’t.
              li Give clear instructions.
              li Easy to recover from mistakes.

  include documentation/footer