- const PAGE = "Introduction"
include includes/base
  include documentation/header
  include documentation/main
    section.container
      .row
        .col.col-12
          .block
            h2.h5.doc-page-subtitle Overview
            h1.h1.doc-page-title ShopBase Product Design System
            p.doc-desc Build a great experience for merchants using ShopBase platform.
          .block
            h3.h4 Đối tượng sử dụng
            ul
              li #[b Designer:] Design overview, principle &amp; guideline
              li #[b Developer:] Element specs, anatomy and states
              li #[b QA:] Verify design specs &amp; use cases
              li #[b Anyone:] Showcase &amp; brainstorming

  include documentation/footer