-
  const NAME    = "SPDS Kit"
  const DESC    = "ShopBase Product Design System"
  const VERSION = "2.0"
  const UNAME   = `${NAME} ${VERSION}`
  const STRUCTURE = {
    "overview": [
      "introduction",
      "key visual",
      "principles"
    ],
    "core": [
      "typography",
      "color",
      "iconography",
      "spacing",
      "grid system",
      "depths",
      "radius",
      "illustrations"
    ],
    "elements": {
      "actions": [
        "button",
        "switch (toggle)",
        "dropdown",
        "segment",
        "tabs",
        "uploader"
      ],
      "form": [
        "checkbox & radio",
        "droplist (selection)",
        "tag & status",
        "text field",
        "slider & stepper"
      ],
    },
    "components": [
      "page header",
      "notification",
      "card",
      "block",
      "collapse",
      "drawer",
      "filter",
      "list",
      "text editor",
      "list",
      "pagination",
      "color picker",
      "date picker",
      "tooltip",
      "popover",
      "popup",
      "chart",
      "data table",
    ],
    "template": [
      "page"
    ]
  }