-
  const NAME    = "SPDS Kit"
  const DESC    = "ShopBase Product Design System"
  const VERSION = "2.0"
  const UNAME   = `${NAME} ${VERSION}`
  const STRUCTURE = {
    "core": [
      "color",
      "typography"
    ],
    "elements": {
      "actions": [
        "button",
        "segment"
      ],
      "form": [
        "field"
      ],
    },
    "components": [
      "card",
      "popup"
    ]
  }