/* CORE PROPERTIES */
/* Blue [PRIMARY] */
/* Neutral [SECONDARY] */
/* Green */
/* Red */
/* Yellow */
/* CHARTS */
/* Placeholder Color */
::-webkit-input-placeholder {
  opacity: 1;
  color: #ACB5B9;
  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
}

::-moz-placeholder {
  opacity: 1;
  color: #ACB5B9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #ACB5B9;
  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
}

*,
*:before,
*:after,
input,
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
  -webkit-appreance: none;
  appreance: none;
  -webkit-font-smoothing: antialiased !important;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  pointer-events: none;
  -webkit-app-region: no-drag;
}

body * {
  pointer-events: all;
}

.draggable {
  -webkit-app-region: drag;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Font Name */
/* Font Size */
/* Font Scale */
/* Text Style */
.type-display-l, h1, .h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
}

.type-display-m, h2, .h2 {
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
}

.type-display-s, h3, .h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.type-heading-l, h4, .h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.type-heading-s, h5, .h5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.type-body-l {
  font-size: 16px;
  line-height: 22px;
}

.type-body-m, body, .app-container {
  font-size: 14px;
  line-height: 20px;
}

.type-help-text {
  font-size: 12px;
  line-height: 16px;
}

.type-center {
  text-align: center;
}

.type-emphasis {
  font-weight: bold;
}

.app-container {
  font-family: "SF Pro Text", "Segoe UI", "Roboto", "Arial", sans-serif;
  color: #5E6A6E;
}

h1 {
  color: #1B1F22;
}

h1.h1, h1.h2, h1.h3, h1.h4, h1.h5 {
  margin-bottom: 16px;
}

h2, h3, h4, h5 {
  color: #363F44;
}

h2.h1, h2.h2, h2.h3, h2.h4, h2.h5, h3.h1, h3.h2, h3.h3, h3.h4, h3.h5, h4.h1, h4.h2, h4.h3, h4.h4, h4.h5, h5.h1, h5.h2, h5.h3, h5.h4, h5.h5 {
  margin-bottom: 8px;
}

.block p, .block ul {
  margin-bottom: 8px;
}

a {
  color: #363F44;
}

a:hover {
  color: #1B1F22;
}

/* Animation Library */
.easing {
  -webkit-transition: 0.125s all ease;
  -o-transition: 0.125s all ease;
  transition: 0.125s all ease;
}

@-webkit-keyframes proceeding {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0) scaleX(2);
    transform: translate3d(-50%, 0, 0) scaleX(2);
    right: 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1);
    transform: translate3d(100%, 0, 0) scaleX(1);
    right: 0;
    opacity: 1;
  }
}

@keyframes proceeding {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0) scaleX(2);
    transform: translate3d(-50%, 0, 0) scaleX(2);
    right: 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0) scaleX(1);
    transform: translate3d(100%, 0, 0) scaleX(1);
    right: 0;
    opacity: 1;
  }
}

.spinning {
  -webkit-animation: 0.675s spinning linear infinite;
  animation: 0.675s spinning linear infinite;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

/* CORE COMPONENTS */
.app-input {
  height: 40px;
  border-radius: 10px;
  padding: 0 12px;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(94, 106, 110, 0.08);
  box-shadow: inset 0 0 0 1px rgba(94, 106, 110, 0.08);
  background-color: rgba(94, 106, 110, 0.04);
  color: #363F44;
}

.app-input:focus {
  background-color: #fff;
}

.app-input-wrapper.small .app-input {
  height: 32px;
  border-radius: 9px;
}

.app-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.app-logo {
  padding: 24px 20px;
}

.app-logo img {
  height: 24px;
}

.app-search {
  padding: 0 8px;
}

.app-menu {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 8px;
}

.app-menu-item, .app-menu-link {
  padding: 8px 12px;
  border-radius: 12px;
}

.app-menu-list .app-menu-list .app-menu-item.active-item {
  color: #0096ED;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  z-index: -2;
}

.app-menu-link {
  display: block;
  position: relative;
  margin: -8px -12px;
  -webkit-box-shadow: 0 4px 12px rgba(172, 181, 185, 0);
  box-shadow: 0 4px 12px rgba(172, 181, 185, 0);
  -webkit-transition: .075s all ease;
  -o-transition: .075s all ease;
  transition: .075s all ease;
}

.app-menu-link:hover {
  color: #1B1F22;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 4px 12px rgba(172, 181, 185, 0.075);
  box-shadow: 0 4px 12px rgba(172, 181, 185, 0.075);
}

.app-menu-link.active-item {
  color: #0096ED;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  z-index: -2;
}

.app-menu-link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 40%;
  background: -webkit-linear-gradient(86deg, #2db0fa 0%, rgba(45, 176, 250, 0) 60%);
  background: -o-linear-gradient(86deg, #2db0fa 0%, rgba(45, 176, 250, 0) 60%);
  background: linear-gradient(4deg, #2db0fa 0%, rgba(45, 176, 250, 0) 60%);
  border-radius: 16px;
  -webkit-transition: .075s all ease;
  -o-transition: .075s all ease;
  transition: .075s all ease;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  left: 1.5%;
  bottom: 2%;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  opacity: 0;
  z-index: -1;
}

.app-menu-link:hover:before {
  opacity: 1;
  -webkit-transition: 0.375s all ease;
  -o-transition: 0.375s all ease;
  transition: 0.375s all ease;
}

.app-menu-list .app-menu-list {
  padding-top: 6px;
  padding-bottom: 16px;
}

.app-menu-list .app-menu-list .app-menu-list {
  padding-top: 2px;
  padding-bottom: 8px;
  font-size: 12px;
  padding-left: 12px;
}

.app-menu-list .app-menu-list .app-menu-list .app-menu-item,
.app-menu-list .app-menu-list .app-menu-list .app-menu-link {
  padding: 4px 12px;
  border-radius: 10px;
}

.app-menu-list .app-menu-list .app-menu-list .app-menu-link {
  margin: -4px -12px;
}

.app-menu > .app-menu-list > .app-menu-item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
}

.app-menu.expanded > .app-menu-list > .app-menu-item {
  color: #ACB5B9;
}

/*# sourceMappingURL=core.css.map */