
$mobile-margin: 96px

.section.image-with-text
  padding: 0
  padding-bottom: #{$mobile-margin / 2}
.image-with-text .feature-set-content-wrap,
.feature-set-content-wrap
  max-width: calc(100vw - #{$mobile-margin})
  margin: 0 auto
  &:not(:last-child)
    margin-bottom: 8px
  .feature-image
    overflow: hidden
    &::before
      content: ""
      display: block
      width: 100%
      padding-top: 150%
      background-color: rgba(32,32,32,0.5)
      backdrop-filter: blur(8px) saturate(150%)
      mask-image: linear-gradient(to bottom, transparent 56%, black 96%)
      position: relative
      z-index: 1
    img
      vertical-align: top
      transition: 0.5s all ease
      position: absolute
      top: -20%
      left: -10%
      width: 120%
      max-width: none
      height: 120%
      object-fit: cover
      object-position: center
    &:hover img
      transform: none

  .feature-content
    position: absolute
    left: 0
    bottom: 0
    padding: 24px
    z-index: 1

    .title
      margin: 0
      color: white
      font-size: 1.25rem
      letter-spacing: 1.25px
      line-height: 1.425rem
      margin-bottom: 2px
    .desc
      margin-bottom: 0
      color: white
      p:last-child
        margin-bottom: 0
    & > *:last-child
      margin-bottom: 0
    
    .btn
      margin-top: 12px
      padding: 8px 12px

    a:not(.btn)
      text-transform: uppercase
      color: transparent
      font-size: 0.01px
      letter-spacing: 1.25px
      position: absolute
      width: 100%
      left: 0
      bottom: 0
      height: 100vh
      height: calc((100vw - #{$mobile-margin}) * 1.5)
      background-color: transparent