@-webkit-keyframes searchIn {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes searchIn {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes searchOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes searchOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes searchModalIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes searchModalIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes searchModalOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes searchModalOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes searched {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes searched {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes marquee_promo {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(calc(((100%) / 6) * -1), 0, 0);
    transform: translate3d(calc(((100%) / 6) * -1), 0, 0); } }

@keyframes marquee_promo {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(calc(((100%) / 6) * -1), 0, 0);
    transform: translate3d(calc(((100%) / 6) * -1), 0, 0); } }
