mixin button
  - let _disabled = (attributes.off || false) ? "disabled" : null
  - let _url      = attributes.url || "javascript:;"
  - let _ref      = attributes.ref || "nofollow"
  - let _tooltip  = attributes.tooltip
  - let _target   = attributes.target
  - let _icon     = attributes.icon
  - let _id       = attributes.id
  - let _progress = attributes.progress || 0
  - let _class    = ["type-body-m button",attributes.class || "neutral", _disabled].join(" ").trim()
  a(
    href     =_url,
    id       =_id,
    class    =_class,
    target   =_target,
    ref      =_ref,
    title    =_tooltip,
    disabled =_disabled
  )
    span.button-wrap
      if _class.includes("progress")
        span.button-progress_bar(style=(_progress)?`width: ${_progress}%`:"")
      if _icon
        span.icon.button-icon @
      span.button-content
        block

