@import '../core/base/_colors'
@import '../core/base/_typography'
@import '../core/base/_animations'

.doc
  &-sidebar,
  &-main
    position: relative
    min-height: 100vh
    overflow: hidden

  $sidebar_width: 232px
  &-sidebar
    width: $sidebar_width
    background-color: $nl100
    position: fixed
    height: 100vh
    max-height: 100vh
    box-shadow: 0 0 0 1px rgba($nl400,.16)
    z-index: 1
  
  &-main
    margin-left: $sidebar_width
    background-color: $nl100
    padding-top: 24px

    .container
      width: calc(100% - 64px)
      max-width: 960px
      margin: 0 auto

  &-page-subtitle
    text-transform: uppercase
    color: $nl400

.doc-main
  .block
    border-radius: 0
    margin-bottom: 0
  .block:first-child,
  .block.lonely+.block:not(.lonely)
    border-radius: 12px 12px 0 0
  .block:last-child,
  .block:
    border-radius: 0 0 12px 12px
    margin-bottom: 24px
  .block.lonely
    margin-top: 24px
    margin-bottom: 24px
    border-radius: 12px